# --------------------
# Global
# --------------------
.DS_Store
Thumbs.db
*.log
*.env
*.tsbuildinfo
*.swp
*.swo

# --------------------
# Node Modules
# --------------------
node_modules/

# --------------------
# 🛠 Build / Output
# --------------------
dist/
build/
coverage/

# --------------------
# IDE Config Files
# --------------------
.vscode/
.idea/

# --------------------
# Backend
# --------------------
backend/node_modules/
backend/dist/
backend/coverage/
backend/.env
backend/src/schema.gql
backend/*.log

# --------------------
# Frontend
# --------------------
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.next/
frontend/.turbo/
frontend/*.log

# --------------------
# Logs (Any Level)
# --------------------
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
